.create-post {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 30px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    max-width: 50%; 
    margin: 110px auto 30px auto; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .post-input {
    flex: 1;
    width: 100%;
    padding: 10px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
  }

  .uploaded-image-container {
    position: relative;
  }
  
  .uploaded-image {
    max-width: 100%;
    max-height: 250px;
    margin: 10px 0;
  }
  
  .delete-button {
    position: absolute;
    top: -2px;
    right: -10px;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: red;
    cursor: pointer;
  }

  .post-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .file-label {
    cursor: pointer;  
    margin-right: 50px;
    color: rgb(5, 5, 153);
  }

  .file-input {
    width: 50%;
    display: none;
  }

  .post-button {
    cursor: pointer;
    margin-left: 50px;
    color: rgb(70, 70, 72);
    background-color: white;
    border: none;
    color: rgb(5, 5, 153);
    font-family: Georgia, "Times New Roman", Times, serif, Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  
  .icon-post {
    color: rgb(59, 4, 137);
    font-size: 13px;
  }