.profile-info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .email {
    margin-top: 10px;
  }

  .account-image {
    display: flex;
    align-items: center;
    margin-left: 40px;
    }

    .user-profile-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 30px;
      object-fit: cover;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }